@import "../../assets/variable.scss";

.image-background {
  display: flex;
  position: relative;
  width: 100vw;
  z-index: -1;
  background-color: $color-black;
}


html,
body {
  position: relative;
  height: 70%;
}
.swiper {
  width: 90%;
  height: 100%;
  margin-top: 1%;

}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.swiper-slide img {
  display: block;
  width: 90%;
  height: 100%;
  object-fit: cover;
}


// MoviePageStyle.scss

.centered-button {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-80%, -50%);
  padding: 10px 20px;
  background-color: $color-black;
  color: $color-yellow;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}


