@import "../assets/variable.scss";
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// .home-page nav {
//   background-color: $color-white; /* Remplace par le code couleur du rose fluo que tu souhaites utiliser */
// }


.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    overflow: hidden;
  }

  
  